

.full {
    height: 100%;
    width: 100%;
}


.intro{
    height: 100%;
    width: 40%;
    margin: 0 auto;
    margin-left: 30%;
}


.start {
    position: relative;
    margin-left: 45%;
    width: 8%;
    height: 75px;
    border-radius: 50px;
    background-color: rgb(97, 191, 173);
    border-style: none;
    color: white;
    font-size: 30px;
    
}