.find_account_btn_wrapper{
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    height: 350px;
  }

.find_account_btn_wrapper h2{
    margin: 65px auto;
    text-align: center;
    color: black;
    font-weight: 400;
    position: relative;
    display: block;
    padding-top: 40px;
}


.find_btn{
    border-radius: 100px;
    width: 260px;
    background-color: #b5d692;
    font-weight: bold;
    color: white;
    height: 50px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .find_btn:hover{
    background-color: hsl(89, 56%, 67%);
    color: black;
  }

  .find_btn_wrap{
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 50px;
  }

  .find_account_wrapper{
    width: 600px;
    height: 400px;
    color: aliceblue;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    margin: 100px auto;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 35%);
  }
