.findPW_wrapper {
    width:100%;
    height:700px;
    border:1px solid red;
}
 .findPW_container {
    /* position:relative;
    width:500px;
    height:600px;
    left:50%;
    top:60%;
    transform:translate(-50%,-50%); */
     border:1px solid red; 
} 
.findPW_findPW {
    background-color:#b5d692;
    border-radius: 100px;
    position:relative;
    left:25px;
    top:100px;
    width:400px;
    height:70px;
    font-weight:bold;
    color:white;
    
}
.findPW_findPW:hover{
    background-color:#b5d692;
    color:white;
  }