.updateformarea {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.member_name,
.member_phone,
.member_adr,
.member_email,
.member_pw,
.member_pwcheck {
    margin-top: 20px;
}

.input_wrap {
    margin-top: 5px;
}

.member_pwcheck {
    margin-bottom: 18px;
}

.label {
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

.namehelp {
    color: rgb(148, 147, 147);
}

.input_name,
.input_phone,
.input_adr,
.input_email,
.input_pw,
.input_pwcheck,
.base_adr {
    width: 880px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 1px;
    border: 1px solid lightgray;
}

.input_name:focus {
    cursor: default;
    outline: none;
}

.input_name:hover {
    cursor: default;
}

.input_phone:focus,
.input_adr:focus,
.input_email:focus,
.input_pw:focus,
.input_pwcheck:focus {
    outline: none;
    border: 1px solid rgb(68, 218, 131);
}

.post_num {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 1px;
    border: 1px solid lightgray;
}

.search_adr {
    padding-bottom: 4px;
    width: 60px;
    height: 42px;
    font-size: 16px;
    background-color: white;
    color: rgb(68, 218, 131);
    border: 1px solid rgb(68, 218, 131);
}

.search_adr:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(68, 218, 131);
}

.post_num:hover,
.base_adr:hover {
    cursor: default;
}

.post_num:focus,
.base_adr:focus {
    outline: none;
    cursor: default;
}

.btn_group {
    text-align: right;
    margin-top: 20px;
}

.update_ok,
.update_cancel {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
}

.update_ok {
    margin-left: 20px;
    border: 1px solid rgb(68, 218, 131);
    color: rgb(68, 218, 131);
}

.update_ok:hover {
    cursor: pointer;
    background-color: rgb(68, 218, 131);
    color: white;
}

.update_cancel {
    border: 1px solid red;
    color: red;
}

.update_cancel:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}